<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickup</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="fb-root"></div>

<div class="fb-login-button"
     data-width="50 px"
     data-max-rows="1"
     data-size="large"
     data-button-type="login_with"
     data-show-faces="false"
     data-auto-logout-link="false"
     data-use-continue-as="true"></div>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId            : '233735173856816',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.12'
        });
    };


    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=233735173856816&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>