doctype html
html
    head
        meta(charset='UTF-8')
        title Pickup
        //linking style sheet
        link(rel='stylesheet', href='/stylesheets/style.css')
        //awesome fonts
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        // Latest compiled and minified CSS
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        //google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
        // jQuery library
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        // Latest compiled JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')


    body
        block content
            canvas#bg
            //hero jumbotron
            #hero.jumbotron.text-center
                h1 PICKUP
                //placeholder login in
                button.btn.btn-outline-light.btn-lg(type='button' onclick='login()') Signup/Login

            //granim gradient bg
            script(src = "/javascripts/granim.js")


        script.
            //facebook login
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1892677944089165',
                    cookie: true,
                    xfbml: true,
                    version: 'v2.12'
                });

                //FB.AppEvents.logPageView();
                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {

                        window.location = 'https://localhost:3000/main'
                    }


                     else if (response.status === 'not_authorized') {

                    } else {
                    }
                });

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // login with facebook with extra permissions
            function login() {
                FB.login(function (response) {
                    if (response.status === 'connected') {

                            window.location = 'https://localhost:3000/main'


                    } else if (response.status === 'not_authorized') {

                    } else {

                    }
                }, {scope: 'email'});
            }

            var granimInstance = new Granim({
                element: '#bg',
                name: 'granim',
                direction: 'diagonal', // 'diagonal', 'top-bottom', 'radial'
                opacity: [1, 1],
                isPausedWhenNotInView: true,
                states: {
                    "default-state": {
                        gradients: [
                            ['#fc5c7d', '#6a82fb'],
                            ['#e1eec3', '#f05053'],
                            ['#be93c5', '#7bc6cc'],
                            ['#74ebd5', '#acb6e5'],
                            ['#6190e8','#a7bfe8']

                        ]
                    }
                }
            });
