//- join Event.pug
extends layout.pug

block content
    .jumbotron#title
        h1 Join an Event
        a#mainbut.btn.btn-default(href='https://localhost:3004/home/myEvents' role='button') My Events
        a#mainbut.btn.btn-default(href='https://localhost:3004/home/create' role='button') Create Event
        a#mainbut.btn.btn-default(href='https://localhost:3004/home' role='button') Home
        a#mainbut.btn.btn-default(href='https://localhost:3004/' role='button') Logout

    form(action='/join' method='POST')
        .container.pre-scrollable#eventListing
        .container
            button#joinbtn.btn.btn-default(type = 'submit' onclick="myFunction()") Join

    script.
        $(document).ready(function() {
            var events = !{eventList};
            var loc;
            $.each(events, function(key, value) {
                loc = value.location;
                if (loc != null){
                    loc = loc.toString();
                    loc = loc.split('_').join(' ');
                }else{
                    loc = 'Not Available';
                };
                var r = $('<input type ="radio" name  = "joinEvent" class="form-check-input"  id = "joinEvent"  value ='
                    + value.id + ' required> <div class = "container" id = "joinE">'
                    + 'Event Name: ' + value.name + '<br>'
                    + 'Max Number of Players: '+ value.maxppl + '<br>'
                    + 'Date: ' + value.date + '<br>'
                    + 'Location: '+ loc + '<br>'
                    + '</div></input><br>');
                $('#eventListing').append(r);
            });

            function myFunction() {
                alert("Event Joined");
            }
        });


