extends layout.pug

block content
    .jumbotron#title
        h1 My Events
        a#mainbut.btn.btn-default(href='https://localhost:3004/home/join' role='button') Join Event
        a#mainbut.btn.btn-default(href='https://localhost:3004/home/create' role='button') Create Event
        a#mainbut.btn.btn-default(href='https://localhost:3004/home' role='button') Home
        a#mainbut.btn.btn-default(href='https://localhost:3004/' role='button') Logout
