extends layout.pug

block content
    .jumbotron#title
        h1 My Events
        a#mainbut.btn.btn-default(href='./createEvent' role='button') Create Event
        a#mainbut.btn.btn-default(href='./join' role='button') Join Event
        a#mainbut.btn.btn-default(href='./home' role='button') Home
        a#mainbut.btn.btn-default(href='./' role='button') Logout


    .pre-scrollable#events

    script.
        $(document).ready(function () {
            var results = "!{myEvents}";
            console.log(results.toString());
            var str = results;


            $('#events').html(str);
        });

