doctype html
html(lang='en')
    head
        title Bootstrap Example
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
    body
        .container
            h2 Modal Example
            // Button to Open the Modal
            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal')
                | Open modal
            // The Modal
            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        // Modal Header
                        .modal-header
                            h4.modal-title Update Activity Preferences
                            button.close(type='button', data-dismiss='modal') ×
                        // Modal body
                        .modal-body
                            div.form-group
                                label(for='activity1') Activity:
                                select(name='activities')
                                    option(value='none') None
                                    option(value='catch') Catch
                                    option(value='soccer') Soccer
                                    option(value='basketball') Basketball
                                    option(value='football') Football
                                    option(value='frisbee') Frisbee
                                //input#name.form-control(type='text', placeholder='first and last' name='name')
                                label(for="skill1") Skill Level:
                                select(name="skill")
                                    option(value='beginner') Beginner
                                    option(value="intermediate") Intermediate
                                    option(value="expert") Expert
                            div.form-group
                                label(for='activity2') Activity:
                                select(name='activities')
                                    option(value='none') None
                                    option(value='catch') Catch
                                    option(value='soccer') Soccer
                                    option(value='basketball') Basketball
                                    option(value='football') Football
                                    option(value='frisbee') Frisbee
                                //input#name.form-control(type='text', placeholder='first and last' name='name')
                                label(for="skill2") Skill Level:
                                select(name="skill")
                                    option(value='beginner') Beginner
                                    option(value="intermediate") Intermediate
                                    option(value="expert") Expert
                            div.form-group
                                label(for='activity3') Activity:
                                select(name='activities')
                                    option(value='none') None
                                    option(value='catch') Catch
                                    option(value='soccer') Soccer
                                    option(value='basketball') Basketball
                                    option(value='football') Football
                                    option(value='frisbee') Frisbee
                                //input#name.form-control(type='text', placeholder='first and last' name='name')
                                label(for="skill3") Skill Level:
                                select(name="skill")
                                    option(value='beginner') Beginner
                                    option(value="intermediate") Intermediate
                                    option(value="expert") Expert
                            div.form-group
                                label(for='activity4') Activity:
                                select(name='activities')
                                    option(value='none') None
                                    option(value='catch') Catch
                                    option(value='soccer') Soccer
                                    option(value='basketball') Basketball
                                    option(value='football') Football
                                    option(value='frisbee') Frisbee
                                //input#name.form-control(type='text', placeholder='first and last' name='name')
                                label(for="skill4") Skill Level:
                                select(name="skill")
                                    option(value='beginner') Beginner
                                    option(value="intermediate") Intermediate
                                    option(value="expert") Expert
                            div.form-group
                                label(for='activity5') Activity:
                                select(name='activities')
                                    option(value='none') None
                                    option(value='catch') Catch
                                    option(value='soccer') Soccer
                                    option(value='basketball') Basketball
                                    option(value='football') Football
                                    option(value='frisbee') Frisbee
                                //input#name.form-control(type='text', placeholder='first and last' name='name')
                                label(for="skill5") Skill Level:
                                select(name="skill")
                                    option(value='beginner') Beginner
                                    option(value="intermediate") Intermediate
                                    option(value="expert") Expert
                        // Modal footer
                        .modal-footer
                            button.btn.btn-danger(type='button', data-dismiss='modal') Update

//extends layout

//block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Update Activity Preferences

                // register form
                form(method='POST' action='/register')
                    div.form-group
                        label(for='activity1') Activity:
                        select(name='activities')
                            option(value='catch') Catch
                            option(value='soccer') Soccer
                            option(value='basketball') Basketball
                            option(value='football') Football
                            option(value='frisbee') Frisbee
                        //input#name.form-control(type='text', placeholder='first and last' name='name')
                        label(for="skill1") Skill Level:
                        select(name="skill")
                            option(value='beginner') Beginner
                            option(value="intermediate") Intermediate
                            option(value="expert") Expert
                    div.form-group
                        label(for='activity2') Activity:
                        select(name='activities')
                            option(value='catch') Catch
                            option(value='soccer') Soccer
                            option(value='basketball') Basketball
                            option(value='football') Football
                            option(value='frisbee') Frisbee
                        //input#name.form-control(type='text', placeholder='first and last' name='name')
                        label(for="skill2") Skill Level:
                        select(name="skill")
                            option(value='beginner') Beginner
                            option(value="intermediate") Intermediate
                            option(value="expert") Expert
                    div.form-group
                        label(for='activity3') Activity:
                        select(name='activities')
                            option(value='catch') Catch
                            option(value='soccer') Soccer
                            option(value='basketball') Basketball
                            option(value='football') Football
                            option(value='frisbee') Frisbee
                        //input#name.form-control(type='text', placeholder='first and last' name='name')
                        label(for="skill3") Skill Level:
                        select(name="skill")
                            option(value='beginner') Beginner
                            option(value="intermediate") Intermediate
                            option(value="expert") Expert
                    div.form-group
                        label(for='activity4') Activity:
                        select(name='activities')
                            option(value='catch') Catch
                            option(value='soccer') Soccer
                            option(value='basketball') Basketball
                            option(value='football') Football
                            option(value='frisbee') Frisbee
                        //input#name.form-control(type='text', placeholder='first and last' name='name')
                        label(for="skill4") Skill Level:
                        select(name="skill")
                            option(value='beginner') Beginner
                            option(value="intermediate") Intermediate
                            option(value="expert") Expert
                    div.form-group
                        label(for='activity5') Activity:
                        select(name='activities')
                            option(value='catch') Catch
                            option(value='soccer') Soccer
                            option(value='basketball') Basketball
                            option(value='football') Football
                            option(value='frisbee') Frisbee
                        //input#name.form-control(type='text', placeholder='first and last' name='name')
                        label(for="skill5") Skill Level:
                        select(name="skill")
                            option(value='beginner') Beginner
                            option(value="intermediate") Intermediate
                            option(value="expert") Expert
                    button.btn.btn-primary(type='update') Update
